body {
  font-family: Arial, sans-serif;
  background-color: #606060;
}

.container {
  max-width: 600px;   
  margin: 40px auto;  
  background: rgb(56, 56, 56);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

ul {
  list-style: none; 
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

input[type="number"] {
  width: 50px;
}

button {
  cursor: pointer;
  background-color: #ff0000;
  border: none;
  padding: 3px 6px;
  border-radius: 4px;
}

button:hover {
  background-color: #000000;
}